$color1: #333333;
$color2: #666a86;
$color3: #95b8d1;
$color4: #e8ddb5;
$color5: #edafb8;
$color6: #9dd1f1;
$color7: #031927;

// $color1: #656565;
// $color2: #808782;
// $color3: #a6d3a0;
// $color4: #d1ffd7;
// $color5: #b3ffb3;
// $color6: #f98948;
// $color7: #f0803c;
