.dashboardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 50px;
  .projectsList {
    .projectCard {
      padding-bottom: 50px;
      .cardTitle {
        font-size: 150%;
        display: block;
        padding-bottom: 10px;
      }
      .paragraphAuthor {
        color: $color6;
      }
      .paragraphDate {
        color: $color5;
      }
    }
  }
  .notificationsContent {
    .cardTitle {
      font-size: 150%;
      display: block;
      padding-bottom: 30px;
    }
    .notificationsLi {
      margin-bottom: 20px;
      .user {
        color: inherit;
      }
      .content {
        color: $color6;
      }
      .date {
        color: $color5;
      }
      .notificationElement {
        margin-bottom: 3px;
        display: block;
      }
    }
  }
}
